<footer>
    <div class="footer-container mt-5">
        <div class="items">
            <div><a href="/library">Home</a></div>
            <div><a href="/login">Login</a></div>
            <div><a href="/signup">Sign Up</a></div>          
        </div>
        <div class="items">
            <div><a target="_blank" href="https://www.youtube.com/channel/UC-FS2tpNB2PDhxA9m0OprVg">YouTube</a></div>
            <div><a target="_blank" href="https://www.instagram.com/chandelasthaa/">Instagram</a></div>
            <div><a target="_blank" href="https://www.linkedin.com/in/astha-singh-299474222/">LinkedIn</a></div>
        </div>
        <div >
            <i class="fa-solid fa-book"></i>
            <p class="caption">Discover the magic of words.  Open a book and embark on a journey  that transcends time and space. 
                Feed your mind, nourish your  soul –  read, and let your imagination thrive!</p>
        </div>
    </div>
    <hr>   
    <p id="copyright">@2024madebyAsthasingh</p>
</footer>